body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
}

#login-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   background-color: #f5f5f5;
   box-shadow: 0 4px 8px rgba(41, 40, 40, 0.1);
   border-radius: 10px;
   padding: 20px;
   width: 300px;
   position: relative;
   z-index: 1;
}

h2 {
   text-align: center;
   font-size: 30px;
   margin-bottom: 20px;
   color: #4d47c3;
   width: 100%;
}
input {
   width: 100%;
   padding: 10px;
   margin-bottom: 10px;
   border: 1px solid #ccc;
   border-radius: 4px;
   font-size: 14px;
   color: #333;
}

button {
   width: 100%;
   padding: 12px;
   background-color: #4d47c3;
   color: white;
   border: none;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s;
}

button:hover {
   background-color: #3f3a9b;
}

#image-person {
   position: absolute;
   top: 85%;
   left: 35%;
   transform: translate(-50%, -50%);
}

#image-person img {
   width: 40vw;
   height: auto;
   z-index: 0;
}
