* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: Poppins, sans-serif;
   background-color: #e7e7e7;
}
.page-title {
   padding: 76px 5px 0px 5px;
   color: #24265d;
   font-size: 30px;
}
