* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: Poppins, sans-serif;
   background-color: #e7e7e7;
}

.page-title {
   color: #24265d;
   font-size: 30px;
}
.container {
   margin-top: 70px;
   padding: 10px;
   background-color: #ffffff;
}
