.container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   position: relative;
   background-image: url(../assets/image/_0017_2.svg);
   background-position: 54% -20%;
   background-size: 39% 69%;
   background-repeat: no-repeat;
}

.login-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #f5f5f5;
   box-shadow: 0 4px 8px rgba(41, 40, 40, 0.1);
   gap: 20px;
   border-radius: 10px;
   padding: 35px;
   width: 300px;
   position: relative;
   z-index: 1;
}

.login-container h2 {
   font-size: 30px;
   color: #24265d;
}

.login-container .input {
   width: 100%;
   margin-top: 15px;
   padding: 10px;
   border: none;
   border-radius: 4px;
   font-size: 14px;
   color: #333;
}

.inputSubmit {
   margin-top: 20px;
   width: 100%;
   padding: 20px;
   border: none;
   background-color: #24265d;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.input:focus {
   outline: none;
   box-shadow: 0 0 5px #24265d;
}

.inputSubmit:hover {
   background-color: #1b1c4d;
}

.image-mobile {
   display: none;
   position: absolute;
   bottom: 20px;
   width: 100%;
   text-align: center;
   z-index: 1;
}

@media (max-width: 768px) {
   .login-container {
      margin-bottom: 180px;
   }

   .container {
      background-image: url(../assets/image/_0017.svg);
      background-position: 40% -23%;
      background-size: 90% 70%;
   }

   .image-container {
      display: none;
   }

   .image-mobile {
      display: block;
      margin-bottom: 70px;
   }

   .logo {
      width: 70px;
      margin-bottom: 20px;
   }

   .nome {
      width: 120px;
   }

   body,
   html {
      height: 100%;
      overflow: hidden;
   }
}
