body {
   margin: 0;
   padding: 0;
   background-image: url("/assets/image/_0017.svg");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   margin-top: 0;
   padding: 0;
   background-color: transparent;
}

.login-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #f5f5f5;
   box-shadow: 0 4px 8px rgba(41, 40, 40, 0.1);
   gap: 20px;
   border-radius: 10px;
   padding: 35px;
   width: 350px;
   position: relative;
   z-index: 1;
}

.login-container h2 {
   font-size: 30px;
   color: #24265d;
   margin-bottom: 10px;
}

.login-container form {
   width: 100%;
}

.login-container .input {
   width: 100%;
   margin-top: 15px;
   padding: 10px;
   border: none;
   border-radius: 4px;
   font-size: 14px;
   color: #333;
}

.inputSubmit {
   margin-top: 20px;
   width: 100%;
   padding: 15px;
   border: none;
   background-color: #24265d;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.input:focus {
   outline: none;
   box-shadow: 0 0 5px #24265d;
}

.inputSubmit:hover {
   background-color: #1b1c4d;
}

.image-mobile {
   display: none;
   position: absolute;
   bottom: 20px;
   width: 100%;
   text-align: center;
   z-index: 1;
}

.image-mobile .logo {
   width: 70px;
   margin-bottom: 20px;
}

.image-mobile .nome {
   width: 120px;
}

@media (min-width: 1200px) {
   body {
      background-size: 70% auto;
   }
}

@media (min-width: 1600px) {
   body {
      background-size: 35% auto;
   }
}

@media (max-width: 768px) {
   body {
      background-image: url("/assets/image/_0017.svg");
      background-position: center top;
      background-size: contain;
   }

   .login-container {
      margin-bottom: 150px;
      width: 300px;
   }

   .image-mobile {
      display: block;
      margin-bottom: 50px;
   }
}
