/* Estilos específicos para a página de login */
.container {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin-top: 0; /* Sobrescrever o margin-top do global.css */
   position: relative;
   background-color: transparent; /* Remover o background-color branco do global.css */
   padding: 0; /* Remover o padding do global.css */
}

body {
   /* Aplicar o background no body ao invés do container */
   background-image: url("../assets/image/_0017_2.svg");
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
}

.login-container {
   display: flex;
   align-items: center;
   flex-direction: column;
   background-color: #f5f5f5;
   box-shadow: 0 4px 8px rgba(41, 40, 40, 0.1);
   gap: 20px;
   border-radius: 10px;
   padding: 35px;
   width: 300px;
   position: relative;
   z-index: 1;
}

.login-container h2 {
   font-size: 30px;
   color: #24265d;
   margin-bottom: 10px;
}

.login-container form {
   width: 100%;
}

.login-container .input {
   width: 100%;
   margin-top: 15px;
   padding: 10px;
   border: none;
   border-radius: 4px;
   font-size: 14px;
   color: #333;
}

.inputSubmit {
   margin-top: 20px;
   width: 100%;
   padding: 15px;
   border: none;
   background-color: #24265d;
   color: white;
   border-radius: 4px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s;
}

.input:focus {
   outline: none;
   box-shadow: 0 0 5px #24265d;
}

.inputSubmit:hover {
   background-color: #1b1c4d;
}

.image-mobile {
   display: none;
   position: absolute;
   bottom: 20px;
   width: 100%;
   text-align: center;
   z-index: 1;
}

.image-mobile .logo {
   width: 70px;
   margin-bottom: 20px;
}

.image-mobile .nome {
   width: 120px;
}

/* Responsividade */
@media (max-width: 768px) {
   body {
      background-image: url("../assets/image/_0017.svg");
      background-position: center top;
      background-size: 90% auto;
      height: 100vh;
      overflow: hidden;
   }

   .login-container {
      margin-bottom: 150px;
   }

   .image-mobile {
      display: block;
      margin-bottom: 70px;
   }
}
